body, table, th, td {
  font-family: Arial, sans-serif;
  font-size: 17px;
}

table {
  margin-top: 20px;
  width: 560px;
  margin-left: 20px;
  margin-right: 20px;
  border-collapse: collapse;
  pointer-events: none;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 80px;
}

th {
  background-color: #f2f2f2;
}

td.doy0 {
  background-color: lightyellow;
}

td.doy1 {
  background-color: lightyellow;
}

td.doy2 {
  background-color: #aaffaa;
}

td.doy3 {
  background-color: #aaaaff;
}

footer {
  margin-top: 20px;
}

