:root {
  --font-size: 0.137in;
  --margin: 0.39in;
  --button-spacing: 0.17in;
  --whole-width: 100vw;
  --width: calc(var(--whole-width) - 2 * var(--margin));
  --cell-width: calc(var(--width) * 0.143);
  --button-room: calc(var(--width) * 0.143);
  --button-width: calc(var(--button-room) * 0.9);
  --button-height: calc(var(--button-width) * 0.618);
  --button-gap: calc(var(--button-room) * 0.1);
  --large-button-room: calc(var(--width) * 0.25);
  --large-button-width: calc(var(--large-button-room) - var(--button-gap));
}

body {
	font-family: Arial, sans-serif;
	font-size: var(--font-size);
	margin-left: var(--margin);
  margin-right: var(--margin);
}

table {
	width: var(--width);
	border-collapse: collapse;
	margin-top: 0.17in;
	pointer-events: none;
}

th, td {
	border: 0.0137in solid #ddd;
	padding: 0.053in;
	text-align: center;
	width: var(--cell-width);
}

th {
	background-color: #f2f2f2;
}

td.fakeDayOfYear0 {
	background-color: lightyellow;
}

td.fakeDayOfYear1 {
	background-color: lightyellow;
}

td.fakeDayOfYear2 {
	background-color: #aaffaa;
}

td.fakeDayOfYear3 {
	background-color: #aaaaff;
}

.month-buttons button {
	background-color: #ccccff;
	color: #002;
	border: none;
	font-size: var(--font-size);
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0 4px #0056b3;
	transition: all 0.4s ease-in-out;
	margin-right: var(--button-gap);
  width: var(--button-width);
  height: var(--button-height);
}

.year-buttons button {
	background-color: #ccccff;
	color: #002;
	border: none;
	font-size: var(--font-size);
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0 4px #0056b3;
	transition: all 0.4s ease-in-out;
	margin-right: var(--button-gap);
  width: var(--large-button-width);
  height: var(--button-height);
}

@media (hover: hover) {
	/* Hover styles for non-touch devices */
	button:hover {
		background-color: lightblue;
	}
}

button:active {
    box-shadow: 0 5px #0056b3;
	transform: translateY(5px);
}

button.highlight {
	background-color: #ccffcc; /* Highlight the active button */
	box-shadow: 0 4px #1e7e34;
}

.button-spacing {
  height: var(--button-spacing);
}
